.btn-notification,
.btn-settings,
.btn-filter,
.btn-close {
    width: 40px;
    aspect-ratio: 1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--btn-header-bg);
    color: var(--btn-header-text-color);
    border: none;   
    outline: none;
    transition: all .15s ease-in-out;
    cursor: pointer;
    
    &:hover {
        background-color: var(--secondary-70);
    }
}

.btn-signout,
.btn-signin,
.btn-signup-submit,
.btn-submit,
.btn-return {
    width: 100%;
    padding: 1rem 2rem;
    border-radius: 14px;
    background-color: var(--btn-signout-bg);
    border: none;   
    transition: all .15s ease-in-out;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.3rem;
    font-size: 14px;
    
    &:hover {
        background-color: var(--btn-signout-bg-hover);
    }

    .btn-signout-text,
    .btn-signin-text {
        font-size: 14px;
        color: var(--secondary-100);
    }
}

.btn-signin {
    width: 100px;
}

.btn-signup {
    border: none;
    background: transparent;
    color: var(--secondary-90);
    font-weight: var(--font-semibold);
    cursor: pointer;
    transition: all .2s ease-in-out;
    padding: .5rem;

    &:hover {
        color: var(--secondary-60);
    }
}