.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;

    .header-modal {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;        
    }

    .success {
        color: var(--primary-100);
        font-weight: var(--font-semibold);
        align-self: flex-start;
    }

    .signin-form {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
    }
}