.copyright {
    width: 220px;
    font-size: 12px;
    font-weight: var(--font-semibold);
    color: var(--grey-70)
}

.footer-nav {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    & ul {
        width: 100%;
        display: flex;
        gap: 2rem;
    }

    & a {
        color: var(--grey-50);
    }
}

.social-media {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}